---
import { site } from '../data/site';
import IconMastodon from './icons/IconMastodon.astro';
import IconTwitter from './icons/IconTwitter.astro';
import IconGithub from './icons/IconGithub.astro';
import IconYoutube from './icons/IconYoutube.astro';
import IconKeybase from './icons/IconKeybase.astro';
import IconRss from './icons/IconRss.astro';
---
<footer class="container my-4 my-sm-5 text-center">
  <div class="mb-3">
    <a class="icon icon-mastodon hvr-pop" href={`https://mastodon.social/@${site.mastodon_username}`} aria-label={`${site.mastodon_username} on mastodon.social`}><IconMastodon /></a>
    <a class="icon icon-twitter hvr-pop" href={`https://twitter.com/${site.twitter_username}`} aria-label={`${site.twitter_username} on Twitter`}><IconTwitter /></a>
    <a class="icon icon-github hvr-pop" href={`https://github.com/${site.github_username}`} aria-label={`${site.github_username} on GitHub`}><IconGithub /></a>
    <a class="icon icon-youtube hvr-pop" href={`https://www.youtube.com/@${site.youtube_username}`} aria-label={`${site.youtube_username} on YouTube`}><IconYoutube /></a>
    <a class="icon icon-keybase hvr-pop" href={`https://keybase.io/${site.keybase_username}`} aria-label={`${site.keybase_username} on Keybase`}><IconKeybase /></a>
    <a class="icon icon-rss hvr-pop" href="/feed.xml" aria-label="RSS Feed"><IconRss /></a>
  </div>
  <p class="text-muted small">© {site.name} • Powered by <a href="https://pages.github.com/" target="_blank" rel="noopener">GitHub Pages</a>, <a href="https://astro.build/" target="_blank" rel="noopener">Astro</a>, and <a href="https://getbootstrap.com/" target="_blank" rel="noopener">Bootstrap</a></p>
</footer>
