---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import '../styles/main.scss';

interface Props {
  title?: string;
  description?: string;
  ogType?: 'website' | 'article';
  ogImage?: string;
  publishedTime?: string;
  noindex?: boolean;
  activelink?: string;
}

const { title, description, ogType, ogImage, publishedTime, noindex, activelink } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">

<BaseHead {title} {description} {ogType} {ogImage} {publishedTime} {noindex} />

<body>

<Nav {activelink} />

<slot />

<Footer />

</body>

</html>
